@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    font-size: 16px;
}

body {
    background: url("../img/background.png");
    color: #f2f2f2;
}

.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 100%;
    max-width: 330px;
    background-color: #00021d;
    border-radius: 5px;
    padding: 20px;
}

.login>h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login__input {
    border: none;
    padding: 15px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #070b3b;
    color: #fff;
    outline: none;
    border-radius: 5px;
}

.login__input:focus {
    outline: 2px solid #f2f2f2;
}

.login__button {
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #ddd;
    cursor: pointer;
    color: #121212;
}

.login__button:hover {
    background-color: #BAD8FE;
}

.chat {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.chat__messages {
    flex-grow: 1;
    padding: 30px 30px 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat__form {
    background-color: #00021d;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat__input {
    border: none;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    background-color: #070b3b;
    color: #f2f2f2;
    font-size: 1rem;
}

.chat__button,
.load__image {
    border: none;
    background: none;
    color: #f2f2f2;
    cursor: pointer;
}

.chat__button>span,
.load__image>span {
    font-size: 1.8rem;
}

.chat__button:hover,
.load__image:hover {
    color: #BAD8FE;
    scale: 1.1;
}


.chat__messages>div {
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 22px;
}

.message__self {
    background-color: #BAD8FE;
    color: #121212;
    border-radius: 10px 10px 0 10px;
    align-self: flex-end;
}

.message__other {
    background-color: #040936;
    color: #f2f2f2;
    border-radius: 0px 10px 10px 10px;
    align-self: flex-start;
}

.message__server {
    background-color: #FFF;
    border-radius: 5px;
    align-self: center;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message__server>span {
    color: #121212;
    font-size: 0.8rem;
    font-weight: 600;
}

.message__sender {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

input[type="file"] {
    display: none;
}

.image__modal {
    z-index: 30;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #0000008c;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
}

.image__form {
    width: 100%;
    max-width: 350px;
    max-height: 500px;
    background-color: #00021d;
    border: 1px solid #BAD8FE;
    background-blend-mode: soft-light;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image__form>p {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
}

.image__loaded {
    width: 100%;
    max-width: 310px;
    max-height: 350px;
    object-fit: contain;
    border: 1px solid #BAD8FE;
}

.imgs__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.send__img__button,
.cancel__img__button {
    width: 45%;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 700;
    cursor: pointer;
    color: #000000;
}

.send__img__button {
    background-color: #3eb93e;
}

.cancel__img__button {
    background-color: #d65151;
}

.send__img__button:hover {
    background-color: #18a018;
}

.cancel__img__button:hover {
    background-color: #c22c2c;
}